<!DOCTYPE html>
<html	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>[ Join Form ]</title>
<script th:src="@{/js/jquery-3.6.0.js}"></script>
<script>

	$(document).ready(function() {
		$('#bt1').click(clear);
		
	})// jQuery
	
	function validation() {
		let idObj = $("#id").val();
		let pwObj = $("#pw").val();
		let nameObj = $("#name").val();
		let phObj = $("#ph").val();
		
		
		if (idObj.length<3 || idObj.length>10){
			alert('ID 는 3 ~ 10자로 입력하세요');
			return false;
		}
		if (pwObj.length<3 || pwObj.length>10){
			alert('PW 는 3 ~ 10자로 입력하세요');
			return false;
		}
		if (nameObj == null || nameObj == ""){
			alert('이름을 입력하세요');
			return false;
		}
		if (phObj == null || phObj == ""){
			alert('전화번호를 입력하세요');
			return false;
		}
		
		return ture;
	} //validation fx
	
	function clear() {
		let idObj = $("#id");
		let pwObj = $("#pw");
		let nameObj = $("#name");
		let phObj = $("#ph");
		
		idObj.val('');
		pwObj.val('');
		nameObj.val('');
		phObj.val('');
		
	}// clear fx
</script>
</head>
<body>

	<h1>[ 회원가입 ]</h1>
	
	<form th:action="@{member/join}" method="post" onsubmit="return validation()">
		ID<input type="text" id='id' name='memberid'> <br>	
		PW<input type="password" id='pw' name='memberpw'> <br>	
		NAME<input type="text" id='name' name='membername'>	<br>
		PHONE<input type="text" id='ph' name='phone'> <br>
		<input type="submit" value="가입">
		<input type="button" value='다시 쓰기' id="bt1">	
	</form>
</body>
</html>